body{
    background-color: linear-gradient(to bottom left, #73C8A9, #373B44);
}
@media only screen and (max-width: 600px){ 
    body{
        background-color: linear-gradient(to top right, #BE5869, #403A3E);
    }
}
#main{
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #101536 ;
    color:#fff000;
    place-items: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    }
h1{
    font-size:25px;
}
p{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
a{
    color: #fff000;
}
.clay1{
    border: 5px solid #b5a269;
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
.clay2,.clay3{
    border: 5px solid#b5a269;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    size: 100px;
}
.stats{
    font-size:30px;
}
